$pointGreen: #78BD38;

.inner-cont{
  background: #222429;
  border-radius: 2px;
}

.flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}